body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.507);
    margin: 0;
}
.circle{
    height:400px;
    width:400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border:2px solid black;
    background-color: white; 
}
.numbers{
    position: absolute;
    font-size: larger;
    font-weight: bold;
}
.number12{
    left:50%;
    top: 2%; 
    transform: translate(-50%,-50%);
}
.number1{
    left:73%;
    top:8%;
    transform: translate(-50%,-50%);
}
.number2{
    left:92%;
    top:27%;
    transform: translate(-50%,-50%);
}
.number3{
    left:98%;
    top:50%;
    transform: translate(-50%,-50%);
}
.number4{
    left:92%;
    bottom:27%;
    transform: translate(-50%,50%);
}
.number5{
    left:73%;
    bottom: 8%;
    transform: translate(-50%,50%);
}
.number6 {
    left:50%;
    top:98%;
    transform: translate(-50%,-50%);
}
.number9{
    left: 2%;
    top: 50%;   
    transform: translate(-50%,-50%);
}

.number7 {
    left: 27%;
    top: 92%;
    transform: translate(-50%,-50%);
}
.number8 {
    left: 8%;
    top: 73%;
    transform: translate(-50%,-50%);
}
.number10 {
    left: 8%;
    top: 27%;
    transform: translate(-50%,-50%);
}
.number11 {
    left: 27%;
    top: 8%;
    transform: translate(-50%,-50%);
}

.h {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center; 
    background-color: black;
    border-radius: 10px;
    transform: translate(-50%);
}
.hh { 
    width: 6px; 
    height: 100px; 
    background-color: black; 
}
.mh { 
    width: 4px; 
    height: 140px; 
    background-color: rgb; 
}
.sh  { 
    width: 2px; 
    height: 160px; 
    background-color: black; 
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
}

