html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
    color: white; 
    text-decoration: none; 
}
.Bar {
    background-color: rgb(187, 188, 189);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box;
    box-shadow: rgba(96, 95, 95, 0.411) 0 5px 20px;
    margin: 0; 
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    font-size: 3vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    position: sticky;
    top: 0; 
    z-index: 100; 
}
.ele{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.navs:hover{
    border-bottom: 2px solid black;
    padding: 2px;
}
.Logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    padding: 40px;
    justify-content: space-evenly;
    background-color:rgba(253, 221, 226, 0.949);
}
.logpara{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.contact{
    font-size:40px ;
}
.home {
    background-image: url("photo-1441984904996-e0b6ba687e04.avif");
    background-size: cover;
    background-position: center; 
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    color: rgb(253, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
}
.homy{
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur;
    border-radius: 25px;
    padding: 40px;
    z-index: 12;
    box-shadow: rgba(255, 255, 255, 0.401)0 5px 20px;
}
.hom:hover{
    border:snow ease;
    border-bottom:2px solid white;
    padding-bottom:2px ease;
}
.shop-btn {
    padding: 12px 24px;
    background-color: rgba(255, 135, 135, 0.911);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.719)0 5px 20px;
}
.shop-btn:hover {
    background-color: rgb(255, 100, 100);
}
.bot{
    text-align: center;
    align-items: center;
}
.Clothes-page,.Dresses-page,.shoes-page{
    padding: 40px;
    background-color:rgba(253, 221, 226, 0.949);
}
.dress-grid ,.clothes-grid,.shoes-grid,.cart-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-evenly;
    gap: 30px; 
}

.dress-card ,.clothes-card,.shoes-card,.cart-card{
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(196, 190, 190, 0.719) 0 5px 20px;
    overflow: hidden; 
    height: max-content;
    width: max-content;
    font-family:'Times New Roman', Times, serif;
}
.imgs-dress{
    height: 300px;
    width: 320px;
    object-fit: cover;
    border-bottom: solid rgb(209, 216, 219);
}
.cart{
    background-color: rgba(255, 135, 135, 0.911);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: rgba(117, 117, 117, 0.356)0 5px 20px;
    margin-left:20px;
    margin-bottom: 18px;
    text-align: center;
    padding:6px;
}
.cart:hover{
    background-color: rgb(255, 100, 100);
}
.cart-page{
    padding: 25px;
    background-color:rgba(253, 221, 226, 0.949);
    display: none;
}
.a1{
    background-color: rgba(255, 135, 135, 0.911);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(117, 117, 117, 0.356)0 5px 20px;
    text-align: center;
    height:30px;
    width:30px;
    margin: 6px;
}
.a1:hover{
    background-color: rgb(255, 100, 100);
}
.total{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}
