body{
    background-image: url("premium_photo-1681487916420-8f50a06eb60e.avif");
    background-size: cover;
}
input{
    padding:6px;
    padding-left:15px;
    margin:10px;
    height:30px;
    width:250px;
    border-radius: 10px;
    border: 0px;
}
.ins {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;    
    width: 80%; 
    margin-bottom: 10px;    
}
.both{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: rgb(15, 14, 14);
    box-shadow:rgb(255, 255, 255) 0 5px 30px;
    font-weight:bold;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius:20px;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
}
.Sign-up{
    display:none;
}
button{
    height:40px;
    background-color: rgba(0, 156, 246, 0);
    color:white;
    font-weight: bold;
    border:0px;
    width:200px;
    border-radius: 12px;
    box-shadow:rgba(0, 0, 0, 0.719) 0 5px 30px;
    background-color: rgb(80, 41, 239);
}
.bottom
{
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    padding-top: 15px;

}
.forg{
    display: flex;
    flex-direction: column; 
    align-items: flex-end;    
    width: 100%;
    margin-bottom: 10px;
    color:aliceblue; 
    text-decoration:underline;  
}